In [1]:
#messing around with historic stock data from yahoo finance
#who's stock, on average, gains a greater percentage on a day to day basis: Google or Amazon?

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import datetime
from datetime import datetime

In [3]:
gdata = pd.read_csv("C:\data_files\GOOG.csv", usecols = ['Date','Open','Close'], index_col = 0)
gdata

                   Open        Close
Date
2019-06-14  1086.420044  1085.349976
2019-06-17  1086.280029  1092.500000
2019-06-18  1109.689941  1103.599976
2019-06-19  1105.599976  1102.329956
2019-06-20  1119.989990  1111.420044
...                 ...          ...
2019-12-09  1338.040039  1343.560059
2019-12-10  1341.500000  1344.660034
2019-12-11  1350.839966  1345.020020
2019-12-12  1345.939941  1350.270020
2019-12-13  1347.949951  1347.829956

[128 rows x 2 columns]

In [4]:
adata = pd.read_csv("C:\data_files\AMZN.csv", usecols = ['Date', 'Open', 'Close'], index_col = 0)
adata

                   Open        Close
Date
2019-06-14  1864.000000  1869.670044
2019-06-17  1876.500000  1886.030029
2019-06-18  1901.349976  1901.369995
2019-06-19  1907.839966  1908.790039
2019-06-20  1933.329956  1918.189941
...                 ...          ...
2019-12-09  1750.660034  1749.510010
2019-12-10  1747.400024  1739.209961
2019-12-11  1741.670044  1748.719971
2019-12-12  1750.000000  1760.329956
2019-12-13  1765.000000  1760.939941

[128 rows x 2 columns]

In [5]:
gdata['Gain'] = gdata['Close'] - gdata['Open']
gdata

                   Open        Close      Gain
Date
2019-06-14  1086.420044  1085.349976 -1.070068
2019-06-17  1086.280029  1092.500000  6.219971
2019-06-18  1109.689941  1103.599976 -6.089965
2019-06-19  1105.599976  1102.329956 -3.270020
2019-06-20  1119.989990  1111.420044 -8.569946
...                 ...          ...       ...
2019-12-09  1338.040039  1343.560059  5.520020
2019-12-10  1341.500000  1344.660034  3.160034
2019-12-11  1350.839966  1345.020020 -5.819946
2019-12-12  1345.939941  1350.270020  4.330079
2019-12-13  1347.949951  1347.829956 -0.119995

[128 rows x 3 columns]

In [6]:
adata['Gain'] = adata['Close'] - adata['Open']
adata

                   Open        Close       Gain
Date
2019-06-14  1864.000000  1869.670044   5.670044
2019-06-17  1876.500000  1886.030029   9.530029
2019-06-18  1901.349976  1901.369995   0.020019
2019-06-19  1907.839966  1908.790039   0.950073
2019-06-20  1933.329956  1918.189941 -15.140015
...                 ...          ...        ...
2019-12-09  1750.660034  1749.510010  -1.150024
2019-12-10  1747.400024  1739.209961  -8.190063
2019-12-11  1741.670044  1748.719971   7.049927
2019-12-12  1750.000000  1760.329956  10.329956
2019-12-13  1765.000000  1760.939941  -4.060059

[128 rows x 3 columns]

In [7]:
gdata['PctGain'] = (gdata['Gain'] / gdata['Open']) * 100
gdata

                   Open        Close      Gain   PctGain
Date
2019-06-14  1086.420044  1085.349976 -1.070068 -0.098495
2019-06-17  1086.280029  1092.500000  6.219971  0.572594
2019-06-18  1109.689941  1103.599976 -6.089965 -0.548799
2019-06-19  1105.599976  1102.329956 -3.270020 -0.295769
2019-06-20  1119.989990  1111.420044 -8.569946 -0.765181
...                 ...          ...       ...       ...
2019-12-09  1338.040039  1343.560059  5.520020  0.412545
2019-12-10  1341.500000  1344.660034  3.160034  0.235560
2019-12-11  1350.839966  1345.020020 -5.819946 -0.430839
2019-12-12  1345.939941  1350.270020  4.330079  0.321714
2019-12-13  1347.949951  1347.829956 -0.119995 -0.008902

[128 rows x 4 columns]

In [8]:
adata['PctGain'] = (adata['Gain'] / adata['Open']) * 100
adata

                   Open        Close       Gain   PctGain
Date
2019-06-14  1864.000000  1869.670044   5.670044  0.304187
2019-06-17  1876.500000  1886.030029   9.530029  0.507862
2019-06-18  1901.349976  1901.369995   0.020019  0.001053
2019-06-19  1907.839966  1908.790039   0.950073  0.049798
2019-06-20  1933.329956  1918.189941 -15.140015 -0.783106
...                 ...          ...        ...       ...
2019-12-09  1750.660034  1749.510010  -1.150024 -0.065691
2019-12-10  1747.400024  1739.209961  -8.190063 -0.468700
2019-12-11  1741.670044  1748.719971   7.049927  0.404780
2019-12-12  1750.000000  1760.329956  10.329956  0.590283
2019-12-13  1765.000000  1760.939941  -4.060059 -0.230032

[128 rows x 4 columns]

In [9]:
stockwin = gdata.join(adata, lsuffix = '_g', rsuffix = '_a')
stockwin

,Open_g,Close_g,Gain_g,PctGain_g,Open_a,Close_a,Gain_a,PctGain_a
Date,,,,,,,,
2019-06-14,1086.420044,1085.349976,-1.070068,-0.098495,1864.000000,1869.670044,5.670044,0.304187
2019-06-17,1086.280029,1092.500000,6.219971,0.572594,1876.500000,1886.030029,9.530029,0.507862
2019-06-18,1109.689941,1103.599976,-6.089965,-0.548799,1901.349976,1901.369995,0.020019,0.001053
2019-06-19,1105.599976,1102.329956,-3.270020,-0.295769,1907.839966,1908.790039,0.950073,0.049798
2019-06-20,1119.989990,1111.420044,-8.569946,-0.765181,1933.329956,1918.189941,-15.140015,-0.783106
...,...,...,...,...,...,...,...,...
2019-12-09,1338.040039,1343.560059,5.520020,0.412545,1750.660034,1749.510010,-1.150024,-0.065691
2019-12-10,1341.500000,1344.660034,3.160034,0.235560,1747.400024,1739.209961,-8.190063,-0.468700
2019-12-11,1350.839966,1345.020020,-5.819946,-0.430839,1741.670044,1748.719971,7.049927,0.404780
2019-12-12,1345.939941,1350.270020,4.330079,0.321714,1750.000000,1760.329956,10.329956,0.590283
2019-12-13,1347.949951,1347.829956,-0.119995,-0.008902,1765.000000,1760.939941,-4.060059,-0.230032

In [10]:
stockwin['GoogleWins'] = (stockwin.PctGain_g >= stockwin.PctGain_a)
stockwin

,Open_g,Close_g,Gain_g,PctGain_g,Open_a,Close_a,Gain_a,PctGain_a,GoogleWins
Date,,,,,,,,,
2019-06-14,1086.420044,1085.349976,-1.070068,-0.098495,1864.000000,1869.670044,5.670044,0.304187,False
2019-06-17,1086.280029,1092.500000,6.219971,0.572594,1876.500000,1886.030029,9.530029,0.507862,True
2019-06-18,1109.689941,1103.599976,-6.089965,-0.548799,1901.349976,1901.369995,0.020019,0.001053,False
2019-06-19,1105.599976,1102.329956,-3.270020,-0.295769,1907.839966,1908.790039,0.950073,0.049798,False
2019-06-20,1119.989990,1111.420044,-8.569946,-0.765181,1933.329956,1918.189941,-15.140015,-0.783106,True
...,...,...,...,...,...,...,...,...,...
2019-12-09,1338.040039,1343.560059,5.520020,0.412545,1750.660034,1749.510010,-1.150024,-0.065691,True
2019-12-10,1341.500000,1344.660034,3.160034,0.235560,1747.400024,1739.209961,-8.190063,-0.468700,True
2019-12-11,1350.839966,1345.020020,-5.819946,-0.430839,1741.670044,1748.719971,7.049927,0.404780,False
2019-12-12,1345.939941,1350.270020,4.330079,0.321714,1750.000000,1760.329956,10.329956,0.590283,False
2019-12-13,1347.949951,1347.829956,-0.119995,-0.008902,1765.000000,1760.939941,-4.060059,-0.230032,True

In [11]:
GWins = stockwin[stockwin.PctGain_g > stockwin.PctGain_a]
GWins

,Open_g,Close_g,Gain_g,PctGain_g,Open_a,Close_a,Gain_a,PctGain_a,GoogleWins
Date,,,,,,,,,
2019-06-17,1086.280029,1092.500000,6.219971,0.572594,1876.500000,1886.030029,9.530029,0.507862,True
2019-06-20,1119.989990,1111.420044,-8.569946,-0.765181,1933.329956,1918.189941,-15.140015,-0.783106,True
2019-06-21,1109.239990,1121.880005,12.640015,1.139520,1916.099976,1911.300049,-4.799927,-0.250505,True
2019-06-28,1076.390015,1080.910034,4.520019,0.419924,1909.099976,1893.630005,-15.469971,-0.810328,True
2019-07-01,1098.000000,1097.949951,-0.050049,-0.004558,1922.979980,1922.189941,-0.790039,-0.041084,True
...,...,...,...,...,...,...,...,...,...
2019-12-05,1328.000000,1328.130005,0.130005,0.009790,1763.500000,1740.479980,-23.020020,-1.305360,True
2019-12-06,1333.439941,1340.619995,7.180054,0.538461,1751.199951,1751.599976,0.400025,0.022843,True
2019-12-09,1338.040039,1343.560059,5.520020,0.412545,1750.660034,1749.510010,-1.150024,-0.065691,True
2019-12-10,1341.500000,1344.660034,3.160034,0.235560,1747.400024,1739.209961,-8.190063,-0.468700,True
2019-12-13,1347.949951,1347.829956,-0.119995,-0.008902,1765.000000,1760.939941,-4.060059,-0.230032,True

In [12]:
GWins['GoogleWins'].count()

79

In [13]:
stockwin['GoogleWins'].count()

128

In [14]:
GWinPct = GWins['GoogleWins'].count() / stockwin['GoogleWins'].count() * 100
GWinPct

61.71875

In [17]:
print("In the past 6 months, Google's stock has gained a greater daily percentage than Amazon's stock " + str(GWinPct) + "% of the time.")

In the past 6 months, Google's stock has gained a greater daily percentage than Amazon's stock 61.71875% of the time.